

<app-navbar></app-navbar>

<div class="container">
    <div class="row ">
        <div class="col col-12 col-sm-12 col-lg-12 col-md-12 col-xl-12 col-xxl-12">

            <div class="row g-3">
                <div class="col col-12 col-sm-12 col-lg-12 col-md-12 col-xl-12 col-xxl-12">

                                               <label for="" class="form-label">Product ID</label>
                                               <input name="productid" [(ngModel)]="productid"   type="text" class="form-control">


                </div>
                <div class="col col-12 col-sm-12 col-lg-12 col-md-12 col-xl-12 col-xxl-12">

                                                <label for="" class="form-label">Title</label>
                                               <input  name="producttitle" [(ngModel)]="producttitle"  type="text" class="form-control">

                </div>

                <div class="col col-12 col-sm-12 col-lg-12 col-md-12 col-xl-12 col-xxl-12">

                    <label for="" class="form-label">Price</label>
                   <input  name="productprice" [(ngModel)]="productprice"  type="text" class="form-control">

</div>

<div class="col col-12 col-sm-12 col-lg-12 col-md-12 col-xl-12 col-xxl-12">

    <label for="" class="form-label">Descreption</label>
   <input  name="productdescription" [(ngModel)]="productdescription"  type="text" class="form-control">

</div>

<div class="col col-12 col-sm-12 col-lg-12 col-md-12 col-xl-12 col-xxl-12">

    <label for="" class="form-label">Cateogry</label>
   <input  name="productcateogry" [(ngModel)]="productcateogry"  type="text" class="form-control">

</div>





                <div class="col col-12 col-sm-12 col-lg-12 col-md-12 col-xl-12 col-xxl-12">


<button (click)="read()"class="custom-btn btn-16">Search</button>


                </div>
            </div>

        </div>
    </div>
</div>